{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Animals</h2>
    {{#if animals}}
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Health</th>
                    </tr>
                    </thead>
                    {{#each animals }}
                        <tbody>
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ type }}</td>
                            <td>{{ age }}</td>
                            <td>{{health}}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
    {{else}}
        {{#if endangered}}
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Age</th>
                            <th>Health</th>
                        </tr>
                        </thead>
                        {{#each endangered }}
                            <tbody>
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ name }}</td>
                                <td>{{ type }}</td>
                                <td>{{ age }}</td>
                                <td>{{health}}</td>
                            </tr>
                            </tbody>
                        {{/each}}
                    </table>
                </div>
        {{else}}
            <p>No animal has been recorded. Please add an animal inside the forest.</p>
            <a href="/animals/new" class="otherbuttons">Non-endangered animal</a>
            <a href="/endangered/new" class="otherbuttons">Endangered animal</a>
        </div>
    {{/if}}
{{/partial}}
{{> layout.hbs}}